@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/* base styles */
* {
  margin: 5px;
  font-family: "Quicksand";
  color: #333; 
}


body {
  background-image: url(https://gojsutigers.com/images/2022/3/21/track_background.jpg?width=1920&height=1080&mode=crop&quality=80&format=jpg);
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
}

.grout-results-list {
  max-width: 100px;
}


.grout-information-list  {
  
}

@media screen and (max-width: 480px) {



  .gif {
    width: 100%;
  }
  .table-responsive {
    width: 100%;
    color: white;
  }
  .table-responsive th {
    color: white;
  }
  .table-responsive th[scope="col"] {
    color:white;
  }
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px;
    grid-row-gap: 1px;
    justify-items: stretch;
    align-items: stretch;
  }
  .schedule {
    order: 2;
    overflow-y:auto;
    max-height: 100%;
    outline-style: solid;
  }

  .annoucements {
    text-align: center;
    max-height: 100%;
    outline-style: solid;
    overflow-y: auto;
    order:1;
  
  }
  .results {
    order: 3;
    overflow-y: auto;
    max-height: 200px;
    outline-style: solid;
  }
  .containerTwo {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    -ms-grid-column-align: center;
    grid-template-rows: 500px;
    justify-items: stretch;
    align-items: stretch;
  }
  .nextMeet {
    text-align:center;
    margin-top: auto;
    margin-bottom: auto;
  }
  .nextMeet h1 {
    font-size: 75px;
  }
  .nextMeet h2 {
    font-size: 40px;
  }
  .nextMeet p {
    font-size: 20px;
  }
  
  
  .image {
    max-width: 100%;
    height:  auto;
    margin-right: -500px;
    position: relative;
    top: 50%;
    transform:  translateY(-50%)
  }
}


@media screen and (min-width: 1024px) {


.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  /* border-bottom: 1px solid #f2f2f2; */
}

.navbar {
  border-radius: 10px;
}
.homeLink {
  color: pink;
  text-decoration: none;
  font-size: xx-large;
  font-weight: bold;

}

.navbar .links {
  margin-left: auto;
}
.navbar .links a {
  background-color: white;
  border-radius: 12px;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 100%;
  margin: 40px auto;
  padding: 20px;
}

.container {
  display: grid;
  grid-template-columns: 32% 33% 32%;
  grid-template-rows: 500px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
}

.containerTwo {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 450px;
  justify-items: stretch;
  align-items: stretch;
}
.containerThree {
  display: grid;
  grid-template-columns: 10% 40% 50%;
  justify-items: stretch;
  align-items: stretch;
}
.nextMeet {
  text-align:center;
  margin-top: auto;
  margin-bottom: auto;
}
.nextMeet h1 {
  font-size: 75px;
}
.nextMeet h2 {
  font-size: 40px;
}
.nextMeet p {
  font-size: 20px;
}
.gif {
  margin-left:  auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
}

.list-group {

  float: left;
}
.table-responsive {
  width: 100%;
  color: white;
}
.table-responsive th {
  color: white;
}
.table-responsive th[scope="col"] {
  color:white;
}

.image {
  max-width: 70%;
  height:  auto;
  margin-right: -50px;
  position: relative;
  top: 50%;
  transform:  translateY(-50%)
}

.schedule {
  background-color: white;
  order: 1;
  overflow-y:auto;
  max-height: 66%;
  outline-style: solid;

}

.annoucements {
  background-color: white;
  text-align: center;
  min-height: 66%;
  max-height: 66%;
  outline-style: solid;
  overflow-y: auto;
}

.homeBanner {
  background-color: white;
  border-radius: 25px;
  text-align: center;
  min-height: 100%;
  max-height: 100%;
}

.event-list h2 {
  text-align: center;
  font-size: large;
}

.result-list h2 {
  text-align: center;
}

.annoucement {
  order: 2;

  max-height:66%;
}
.annoucement-info h2 {
  font-size: large;
}

.results {
  background-color: white;
  order: 3;
  overflow-y: auto;
  max-height: 66%;
  outline-style: solid;
}

.result-line-list {
  background-color: white;
  max-width: 50%;
  border-radius: 25px;
}
.result-page-list p {
  margin: 0;
}
}







